@import url('./ToastPositions.module.css');
@import url('./ToastElements.module.css');

:root {
  --toast-positionIndex: 99999;
  --toast-animationDuration: 300ms;
}

/* animate only first toast */
.toastItem:last-child {
  z-index: var(--toast-positionIndex);
  animation: slideIn 300ms ease;
  position: relative;
}

/* animate second toast */
.toastItem:nth-last-child(2) {
  position: absolute;
  z-index: var(--toast-positionIndex) - 1;
  animation: secondToastAimation 300ms ease forwards;
}

/* animate third toast */
.toastItem:nth-last-child(3) {
  position: absolute;
  animation: thirdToastAnimation 300ms ease forwards;
  z-index: var(--toast-positionIndex) - 2;
}

/* animate fouth toast */
.toastItem:nth-last-child(n+4) {
  position: absolute;
  z-index: var(--toast-positionIndex) - 3;
  animation: fourthToastAnimation 300ms ease forwards;
}

/* delete first toast */
.toastItemDelete:last-child {
  opacity: 0;
  transform: translateY(0%) scale(0.95);
  transition: opacity 250ms ease, transform 500ms ease;
  z-index: 10;
}

/* delete toast if not first */
.toastItemDelete:not(:last-child) {
  opacity: 0;
  transform: translateY(0) scale(0.8);
  transition: opacity 250ms ease, transform 500ms ease;
  z-index: 10;
}

/* .toastContainer:hover {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

@keyframes secondToastAimation {
  0% {
    transform: translateY(0%) scale(1);
    opacity: 1;
    bottom: 0rem;
  }

  100% {
    transform: translateY(0%) scale(.95);
    opacity: .8;
    bottom: 1rem;
  }
}

@keyframes thirdToastAnimation {
  0% {
    transform: translateY(0%) scale(.95);
    opacity: .8;
    bottom: 1rem;
  }

  100% {
    transform: translateY(0%) scale(.9);
    opacity: .5;
    bottom: 2rem;
  }
}

@keyframes fourthToastAnimation {
  0% {
    transform: translateY(0%) scale(.9);
    opacity: .5;
    bottom: 2rem;
  }

  100% {
    transform: translateY(0%) scale(.8);
    opacity: 0;
    bottom: 3rem;
  }
}

/* first toast animation */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}